@charset "UTF-8";


* {
	margin: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-rows: 
                    [head]100px
                    [menu]auto
                    [sum]auto
                    [foot]100px;
    grid-template-columns: 20px 1fr 20px;
    grid-row-gap: 20px;
    row-gap: 40px;
    font-family: sans-serif;
}

body > * {
    grid-column: 2 / -2;
}

header {
    grid-row: head;
    justify-self: center;
    align-self: center;
}
header a {
    color: inherit;
    text-decoration: none;
}
h1 {
    grid-row: menu;
    text-align: center;
    align-self: center;
    font-size: 35px;
}
nav {
    grid-row: head;
    justify-self: center;
    align-self: end;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    column-gap: 20px;
}
nav a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
nav a:hover {
    color: #ef9504;
}
article {
    grid-row: menu;
}
section {
    margin-top: 20px;
    border-bottom: solid 1px #dddddd;
    padding-bottom: 20px;
}
section p {
    text-align: center;
    line-height: 2;
}
#cart {
    grid-row: sum;
}

form {
    text-align: center;
    line-height: 2;
}
input {
    padding: 10px 40px;
    background-color: #ef9504;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}

/* フッターのバー */
footer {
    grid-row: foot;
    text-align: center;
}

/* フッターのバー */
body::after {
    content:"";
    background-color: silver;
    grid-column: 1 / -1;
    grid-row: foot;
    z-index: -1;
}

footer p {
    font-size: 14px;
}

#instagramIcon {
    font-size: 30px;
}

@media (min-width: 768px) {
    /* PC版の設定 */
    body {
        grid-template-columns: 
                        0.2fr repeat(6,1fr) 0.2fr;
        grid-column-gap: 5%;
        grid-template-rows:
                        [head]100px
                        [menu]auto
                        [sum]auto
                        [foot]100px;
    }
    
    /* PC版：ヘッダー */
    section {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        column-gap:20px;
       
    }
    /* PC版shopページ */
    article {
        grid-template-rows: 
                    [head]100px
                    [article pickup]auto
                    [foot]100px;
        
    }
    h2 {
        font-size: 30px;
    }
    .shop article {
        grid-column: 3 / -3;
    }
    .shop article h1 {
        font-size: 42px;
    }
    .shop article p {
        font-size: 18px;
    }
    .shop div {
        grid-column: 6 / span 2;
    
    }
    .shop::before {
        margin-top: -20px;
    }

}
    /* PC版の設定終了 */