@charset "UTF-8";


* {
	margin: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
   
    display: grid;
    grid-template-rows:
                    [head]100px
                    [title]auto
                    [news]auto
                    [shop]auto
                    [sub]auto
                    [foot]100px;
    grid-template-columns: 20px 1fr 20px;
    grid-row-gap: 20px;
    row-gap: 40px;
    font-family: sans-serif;
}

body > * {
    grid-column: 2 / -2;
}

header {
    grid-row: head;
    justify-self: center;
    align-self: center;
}

h1 {
    text-align: center;
    align-self: center;
    font-size: 40px;
}

nav {
    grid-row: head;
    justify-self: center;
    align-self: end;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    column-gap: 20px;
}
nav a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
nav a:hover {
    color: #ef9504;
}
#title {
    grid-row: title;
}
#title p {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    text-align: center;
}

span {
    font-size: 24px;
    font-weight: bold;
    
}
#news {
    grid-row: news;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
    gap: 20px 10px;
}
section a {
    color: black;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
section p {
    font-size: 14px;
}

#shop {
    grid-row: shop;
}

#shop p {
   
    text-align: center;
}
input {
    padding: 10px 40px;
    background-color: #ef9504;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;

}
.input {
    text-align: center;
}
#sub {
    grid-row: sub;
}
#sub p {
    text-align: center;
}

footer {
    grid-row: foot;
    text-align: center;
}
footer p {
    font-size: 14px;
}
#instagramIcon {
    font-size: 30px;
}

/* PC版の設定 */
body {
    grid-template-columns: 
                    0.2fr repeat(6,1fr) 0.2fr;
    grid-column-gap: 5%;
    grid-template-rows:
                    [head]100px
                    [title]auto
                    [news]auto
                    [shop]auto
                    [sub]auto
                    [foot]100px;
}

@media (min-width: 768px) {
/* PC版：ヘッダー */
section {

    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    column-gap:20px;
}

}
/* PC版の設定終了 */